<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tarpas.pocket.mapper.AdvertisingMapper" >
  <resultMap id="BaseResultMap" type="Advertising" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="regionId" property="regionid" jdbcType="INTEGER" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List">
  		id,name,link,picture
  </sql>
  
  <insert id="insert" parameterType="Advertising">
		insert into Advertising (<include refid="Base_Column_List"/>)values
  	(#{name},#{line},#{picture})  
  </insert>  
  
  <select id="select" parameterType="Advertising" resultType="Advertising">
		select * from Advertising where isDeleted=false
		<if test="name!=null">and name=#{name}</if>
		<if test="id!=null">and id=#{id}</if>
		<if test="picture!=null">and picture=#{picture}</if>
		<if test="link!=null">and link=#{link}</if>
  </select>
  
  <update id="update" parameterType="Advertising">
  		update Advertising 
  		<set>
  			<trim suffixOverrides=",">
  				<if test="name!=null">name=#{name},</if>
  				<if test="link!=null">link=#{link},</if>
  				<if test="picture!=null">picture=#{picture},</if>
  			</trim>
  		</set>
  		where id=#{id}
  </update>
  
  <update id="delete" parameterType="Integer">
  	update  Advertising set 
  		isDeleted=true
  	where id=#{id}
  </update>
  

  		
 </mapper>